header {
    text-align: center;
    background-color: navy;
    color: lightgray;
    padding: 1rem;
}

h4 {
    text-align: center;
}

label {
    font-weight: bold;
}

.input-container {
    padding: 2rem;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-top: 5rem;
}

.top-dropdowns {
    display: grid;
    padding-bottom: 1rem;
}

.tunables-container {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 2;
}

.tunable-input {
    display: flex;
    justify-content: space-between;
}

.size-limit {
    display: flex;
    justify-content: space-between;
}

.dimension-container {
    padding-bottom: 1rem;
}

.generation-input {
    display: flex;
    justify-content: space-between;
}

.generate-button-container {
    display: flex;
    justify-content: center;
}

#canvas {
    border: 5px solid black;
}

#download,
#generate {
    margin: 2rem;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 5%;
    background-color: navy;
    color: lightgray;
}